body {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#sidebar {
  width: 300px;
  background-color: white;
  height: 100vh;
  padding: 10px;
}

#micro-container {
  flex: 1;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #e0e0f0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

#scale-bar {
  height: 55px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: white;
  color: black;
  text-align: center;
  padding: 8px;
}

#scale-bar-text {}

#scale-bar-inner-bar {
  background: black;
  height: 50%;
  width: 0px;
  margin-left: auto;
  margin-right: auto;
}

#set-scalebar-button {
  width: 100%;
}

#scalebar-info {}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {}
  .sidenav a {}
}