body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Raleway, 'Roboto Slab', */

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: url('./images/lightBg2.jpg');
  background-color: #fefeff;
  background-size: 40px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  background-color: white;
  height: 100vh;
  padding: 10px;
  background: #fefeff;
  border-right: 2px solid #dddddd;
}

#mini-view-container {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
}

#mini-box {
  outline: 2px solid #ff0000;
  position: relative;
}

#logo-container {
  background: url('./images/micro-measure-logo1.png');
  background-size: contain;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
}

h2#section-title {
  border-bottom: 1px solid #333334;
  font-size: 20px;
  padding-bottom: 4px;
}

#micro-container {
  flex: 1;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-color: #e0e0f0; */
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

#scale-bar {
  height: 55px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: white;
  color: black;
  text-align: center;
  padding: 8px;
}

#scale-bar-text {}

#scale-bar-inner-bar {
  background: black;
  height: 50%;
  width: 0px;
  margin-left: auto;
  margin-right: auto;
}

#scalebar-info {}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#file-upload {
  margin: 16px 0px 16px 0px;
}

.snapshots-list {
  flex: 1;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: Arial, Helvetica, sans-serif
}

.snapshot-container {
  /* height: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.snapshot-input-fields {
  padding-top: 4px;
}

.snapshot-img-container {
  background: #cccccc;
  height: 80px;
  width: 118px;
  margin-right: 8px;
  border: 2px solid #000000;
}

.title-input-field {
  font-weight: bold;
  width: 120px;
}

img.snapshot {
  object-fit: contain;
  height: 76px;
  width: 114px;
}

/* div */

#scalebar-options-container {
  margin-bottom: 16px;
}

#useScalebar-checkbox-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-top: 8px;
  padding-left: 55px;
}

#reset-scalebar-container {
  text-align: left;
  padding-left: 10px;
  flex: 1;
}

#set-scalebar-button {
  width: 168px;
  padding: 2px 2px;
}

#reset-scalebar {
  color: #999999;
  padding-right: 8px;
  border: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #999999;
}

#input-enter-length {
  width: 100px;
  margin-right: 8px;
}

#input-enter-units {
  width: 60px;
}

#scalebar-options-text-inputs-container {
  display: flex;
  flex-direction: row;
}

#use-scalebar-input {
  margin: 0px 8px 4px 0px;
}

#input-fields {
  width: 100%;
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 35px;
}

#save-snapshot {
  margin-bottom: 16px;
  width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {}
  .sidenav a {}
}