body {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: url('./images/checkerbg.png');
  background-size: 40px;
}

#logo-container {
  background: url('./images/micro-measure-logo.png');
  background-size: contain;
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

#sidebar {
  width: 300px;
  background-color: white;
  height: 100vh;
  padding: 10px;
  background: #fefeff;
  border-right: 2px solid #cccccd;
}

#micro-container {
  flex: 1;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-color: #e0e0f0; */
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

#scale-bar {
  height: 55px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: white;
  color: black;
  text-align: center;
  padding: 8px;
}

#scale-bar-text {}

#scale-bar-inner-bar {
  background: black;
  height: 50%;
  width: 0px;
  margin-left: auto;
  margin-right: auto;
}

#set-scalebar-button {
  width: 100%;
}

#scalebar-info {}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.snapshots-list {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 500px;
  align-content: flex-start;
  background: #e0e0f0
}

.snapshot-container {
  /* height: 200px; */
  margin: 10px;
}

.snapshot-img-container {
  border: 1px solid #e0e0f0;
  background: #e0e0f0;
  height: 80px;
  width: 118px;
}

.title-input-field {}

img.snapshot {
  object-fit: contain;
  height: 80px;
  width: 118px;
}

@media screen and (max-height: 450px) {
  .sidenav {}
  .sidenav a {}
}